{% extends "base.html" %}
{% load static %}

{% block head_title %}Home{% endblock head_title %}

{% block content %}

  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h3 data-aos="fade-up">Sanitizing Environment Through Waste Management And Trading</h3>
          <p data-aos="fade-up" data-aos-delay="100">
          DANBY Global Nigeria Limited is a Nigerian environmentally friendly company that deals in the business of collection, processing, and exporting of PLASTICS  WASTE such as PET 
          (polyethylene terephthalate) plastic, (Film Bottle, PE, PP, HDPE, BOPP, LLDPE, LDPE, and any other 
          polybag waste), ABS plastic, Expanded Polystyrene (EPS), Polycarbonate PC, polyvinyl chloride (PVC) 
          and any other related engineered plastic waste a corporate zeal
          to transform lives, and reposition ourselves in the present Nigerian economy.
          </p>
          <!--
          <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
            <input type="text" class="form-control" placeholder="ZIP code or CitY">
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          -->

          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                <p>Clients</p>
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="57" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
                <p>Ours of Support</p>
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
                <p>Workers</p>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="{% static 'assets/img/Picture6.jpg' %}" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div>
  </section>


    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 service-item d-flex" data-aos="fade-up">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed"></i></div>
            <div>
              <h4 class="title">We Collect</h4>
              <p class="description">
                We varieties of PLASTIC WASTE in high 
                quantities.
              </p>
              <a href="{% url 'pages:about_us' %}" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-truck"></i></div>
            <div>
              <h4 class="title">We Transport</h4>
              <p class="description">
                We transport the PLASTIC WASTE to our factory </p>
              <a href="{% url 'pages:about_us' %}" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div>
            <div>
              <h4 class="title">We Recycle</h4>
              <p class="description">
                We process the PLASTIC WASTE and get them ready for export.
              </p>
              <a href="{% url 'pages:about_us' %}" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-ship"></i></div>
            <div>
              <h4 class="title">We Export</h4>
              <p class="description">
                 We export.
              </p>
              <a href="{% url 'pages:about_us' %}" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section>



    <section id="about" class="about pt-0">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
            <img src="{% static 'assets/img/about.PNG' %}" class="img-fluid" alt="">
            <a href="{% url 'pages:about_us' %}" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6 content order-last  order-lg-first">
            <h3>About Us</h3>
            <p>
              DANBY Global Nigeria is a waste management company that deals in the business of collection,
              processing, and exporting of PLASTICS  WASTE such as PET (polyethylene terephthalate) 
              plastic, (Film Bottle, PE, PP, HDPE, BOPP, LLDPE, LDPE, and any other polybag waste), 
              ABS plastic, Expanded Polystyrene (EPS), Polycarbonate PC, polyvinyl chloride (PVC)
              and any other related engineered plastic waste.<br />
              
              We articulate effectively the different knowledge areas of Plastic and Non-Plastic 
              waste management, which include; collecting/purchasing, shredding, exporting, and 
              recycling processes.<br />
              
              We export to Europe, China, India, Hong Kong, Malaysia, Thailand, and Korea.
            </p>
            <!--<ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5>Heading</h5>
                  <p>Content</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5>Heading</h5>
                  <p>Content</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-broadcast"></i>
                <div>
                  <h5>Heading</h5>
                  <p>Content</p>
                </div>
              </li>
            </ul>-->
          </div>
        </div>

      </div>
    </section>


    <section id="service" class="services pt-0">
      <div class="container">

        <div class="section-header">
          <span>Our Services</span>
          <h2>Our Services</h2>

        </div>

        <div class="row gy-4">
          {% for service in services %}
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-img">
                <img src="{{ service.picture.url }}" alt="" class="img-fluid">
              </div>
              <h3><a href="{% url 'pages:service_details' service.id %}" class="stretched-link">{{ s.title }}</a></h3>
              <p>{{ service.description | truncatewords:5 }}</p>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </section>


    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="zoom-out">

        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h3>Get in touch</h3>
            <p>+234 8037640960, +234 8138646958, +2348033539319</p>
            <a class="cta-btn" href="{% url 'contacts:contact_form' %}">Send us message</a>
          </div>
        </div>

      </div>
    </section>

    
    <section id="features" class="features">
      <div class="container">

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

          <div class="col-md-5">
            <img src="{% static 'assets/img/feature-1.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <h3>Youth Development.</h3>
            <p class="fst-italic">
              We provide job opportunities to teeming youths through 
            </p>
            <!--<ul>
              <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check"></i> Ullam est qui quos consequatur eos accusamus.</li>
            </ul>-->
          </div>
        </div>

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'assets/img/feature-2.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <h3>CIRCULAR ECONOMY</h3>
            
            <p>
             Creating a circular economy through buying from locals and exporting for recycling purposes
            </p>
          </div>
        </div>

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5">
            <img src="{% static 'assets/img/feature-3.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <h3>WOMEN &amp; DEVELOPMENT</h3>
            <p>
                When a wormen is empowered, the family is empowered. 
                At DANBY Global, we value women’s development for reducing gender 
                discrimination in a smart innovative system.
            </p>
            <!--<ul>
              <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check"></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
            </ul>-->
          </div>
        </div>

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'assets/img/feature-4.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <h3>Waste Processing &amp; Packaging</h3>
            <p>
              We process the plastic waste in high quantities, and package for eventual export.
            </p>
          </div>
        </div>

      </div>
    </section>

{% endblock content %}