{% extends "base.html" %}
{% load static %}

{% block head_title %} Service Details {% endblock head_title %}

{% block content %}
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('{% static 'assets/img/page-header.jpg' %}');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Service Details</h2>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="{% url 'pages:index' %}">Home</a></li>
            <li>Service Details</li>
          </ol>
        </div>
      </nav>
    </div>


    <section id="service-details" class="service-details">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="services-list">
              <img src="{{ service.picture.url }}" alt="" class="img-fluid services-img">
            </div>

          </div>

          <div class="col-lg-8">
            
            <h3>{{ service.title }}</h3>
            <p>
              {{ service.description | linebreaks }}
            </p>
            
          </div>

        </div>

      </div>
    </section>
{% endblock content %}