{% extends "base.html" %}
{% load static %}
{% block head_title %}{% if member.user.get_full_name %}{{ member.user.get_full_name }} {% else %} {{ member.user.username | upper }}{% endif %}{% endblock head_title %}
{% block content %}

    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('{% static 'assets/img/page-header.jpg' %}');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>{% if member.user.get_full_name %}{{ member.user.get_full_name }} {% else %} {{ member.user.username | upper }}{% endif %}</h2>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="{% url 'pages:index' %}">Home</a></li>
            <li>{% if member.user.get_full_name %}{{ member.user.get_full_name }} {% else %} {{ member.user.username | upper }}{% endif %}</li>
          </ol>
        </div>
      </nav>
    </div>

    <section id="service-details" class="service-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-5">
            <div class="services-list">
              <img src="{% if member.designation == 'DAW' %}{% static 'assets/img/team/daw.jpg' %}{% elif member.designation == 'OMM' %}{% static 'assets/img/team/omm.jpg' %} {% elif member.designation == 'DFL' %}{% static 'assets/img/team/dfl.jpg' %}{% endif %}" alt="" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-7">
            <h3>{% if member.user.get_full_name %}{{ member.user.get_full_name | title }} {% else %} {{ member.user.username | upper }}{% endif %}</h3>
            <span>
                {% if member.designation == 'DFL' %}
                  <strong>Director Finance &amp; Logistics</strong> 
                {% elif member.designation == 'DAW' %}
                  <strong>Director Admin &amp; Warehouse</strong>
                {% elif member.designation == 'OMM' %}
                  <strong>Operational &amp; Marketing Manager</strong>
                {% endif %}
              </span>
            <p><em>{{ member.words }}</em></p>
            <hr />
            <p>
              {{ member.about | linebreaks }}
            </p>
          </div>

      </div>
    </section>
{% endblock content %}